# Xcode
#
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Swift Package Manager
#
.build/
Packages/
Package.resolved

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Bundler
#
.bundle/

# Other
#
*.moved-aside
*.xccheckout
*.xcscmblueprint

# macOS
.DS_Store
